# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build
dist
tsconfig.tsbuildinfo

# Cursor
.cursor/

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env*.local
*.local

# Legacy
.output
.vinxi
.tanstack/**
.nitro
.wrangler/
.dev.vars

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug
.vercel
